.list-army-page {
    .icon-button {
        width: 10%;
        max-width: 5em;

        & img{
            width: 3em;
            height: 2em;
        }
    }

    .user-army-row {
        height: 3em;
        padding-left: 5%;
        padding-bottom: 0.2em;
    }

    .btn-go {
        margin-right: 1em;
        border-radius: 0 .7em .7em 0;
    }

    .icon-go {
        width: 3em;
        height: 2em;
        margin: auto
    }

    .btn-clone {
        margin-right: .5em;
        border-radius: .5em;
        background-color: #ffbe67;
        cursor: pointer;
    }
    .btn-delete {
        margin-right: .5em;
        border-radius: .5em;
        background-color: #bd3c09;
        cursor: pointer;
    }
    .btn-plus {
        margin-right: .5em;
        border-radius: .5em;
        background-color: #1e7ca5;
        cursor: pointer;
    }
    .add-army-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5% 1em 5%;
    }
}