.input-edit input {
    color: black;
    background-color: white;

}

.input-edit button {
    font-family: "Quicksand", sans-serif;
    height: 3rem;
    background-color: red;
}

.Todo li {
    list-style-type:none;
}

.fa-plus-circle:hover {
    font-size: xx-large;
    color: lightslategrey;
}

#parent {
}

#parent .hidden-child{
    visibility: hidden;
}

#parent:hover .hidden-child{
    visibility: visible;
}